.searchBar {
  display: flex;
  margin-top: 20px;
}

.form {
  display: flex;
  gap: 10px;
  margin-left: 24px;
}

.input {
  width: 300px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #0056b3;
}

.button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.messageError,
.messageInfo {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  color: #666;
}

.messageError {
  color: #666;
  font-weight: bold;
}

.messageInfo {
  color: #337ab7;
}

.loadingMessage {
  font-weight: bold;
  color: #555;
  padding: 10px;
  text-align: center;
}

ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 24px;
}
